*{
    margin: 0;
    padding: 0;
    font-family: "Mabry", "Mabry Pro", sans-serif;;
    box-sizing: border-box;
    min-width: 0px;
    max-width: 100%;
    vertical-align: bottom;
}

body {
    font-size: .875rem;
    line-height: 1.3;
}

.header {
    display: flex;
    height: 100px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 24px 198px 24px 198px;
    position: sticky;
}

.header-left-item {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.6;
    width: 700px;
    height: 32px;
}

.header-right-item {
    display: flex;
}

.avt {
    width: 1.5em;
    border: solid .0625rem rgb(94,94,94);
    border-radius: 10rem;
}

.avt-text {
    text-decoration: none;
    color: black;
    width: 60px;
    height: 32px;
    margin-left: 10px;
}

.right-btn-1 {
    margin-left: 10px;
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    padding: 0.75rem 1rem;
    border: solid .0625rem rgb(94,94,94);
    border-radius: 0.25rem;
    gap: 0.5rem;
    text-decoration: none;
    transition: all 0.14s ease-out 0s;
}

.right-btn-1:hover{
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: black 0.25rem 0.25rem 0px;
}

.twitter-icon{
    min-height: 2em;
    width: 2em;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.input-email {
    width: 216px;
    height: 50px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    border: solid .0625rem rgb(94,94,94);
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
}

.container-top {
    width: 1524px;
    height: 170px;
    grid-template-columns: 1fr auto;
    align-items: flex-start;
    gap: 1rem 0.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding: 32px 192px 32px;
    font-family: "Mabry", "Mabry Pro", sans-serif;
}


p {
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 400;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.6;
    --line-height: 2rem;
    font-weight: 400;
}

.container {
    color: #000;
    font-family: "Mabry", "Mabry Pro", sans-serif;
}

.tab-list{
    gap: 0.75rem;
    margin-left: -0.25rem;
    padding: 0;
    font-family: "Mabry", "Mabry Pro", sans-serif;
    text-decoration: none;
    color: #000;
    display: flex;
    text-decoration: none;
}

.tab-list-text-1 {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    --line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    border-width: 0.0625rem;
    border-style: solid;
    border-image: initial;
    border-radius: 10rem;
}

.tab-list-text-2 {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    --line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
}

/* ---------------------------------------------------------------------------------- */
.product-container {
    display: grid;
    padding-top: 64px;
}

.product-container-grid {
    display: grid;
    grid-template-columns: 295.46px 295.47px 295.57px;
    justify-content: center;
    gap: 1rem;
    /* grid-gap: 1rem; */
}

.product-item {
    display: grid;
    border: solid 0.0625rem #000;
    border-radius: 0.25rem;
    grid-template-rows: auto 1fr auto;
}

.product-item-name {
    display: grid;
    padding: 1rem;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
    gap: 0.5rem;
}

.product-item-rating {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;

}

.product-item:hover{
    box-shadow: black 0.25rem 0.25rem 0px;
}

.rating-left {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}


.rating-right-price {
    display: block;
    color: rgb(255, 255, 255);
}

.price {
    display: block;
    color: rgb(255, 255, 255);
    position: relative;
    background-image: linear-gradient(to left,transparent 1em,rgb(0,0,0) 1em);
    text-overflow: ellipsis;
    padding: 0.25rem calc(0.5rem + 1em) 0.25rem 0.5rem;
    border-right: 0px;
    overflow: hidden;
}

.rating-right-price::before {
    border-right: 1em solid transparent;
    right: 0px;
    border-left-width: 0.0625rem;
    content: "";
    top: 0px;
    bottom: 0px;
    position: absolute;
    border-style: solid;
    border-width: calc(.25rem + 1.1375rem/2);
}

.rating-right-price::after {
    border-right: 1em solid transparent;
    right: 0.0625rem;
    border-left: none;
    color: rgb(0,0,0);
    content: '';
    top: 0px;
    bottom: 0px;
    position: absolute;
    border-style: solid;
    border-width: calc(.25rem + 1.1375rem/2);
}
